@font-face {
    font-family: 'iconfont';
    src: url('font_4051284_gztk9wlxmp8/iconfont.woff2') format('woff2'),
        url('font_4051284_gztk9wlxmp8/iconfont.woff') format('woff'),
        url('font_4051284_gztk9wlxmp8/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    text-decoration: none;
    font-style: normal;
    list-style: none;
}

html {
    background-color: #f1f2f3
}

body {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* 版心 */
/* 媒体查询 */
.w {
    width: 85%;
    margin: 0 auto;
}

/* 初始化完成 */

/* header样式 */
header .headNav {
    position: absolute;
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 2560px;
    z-index: 1000;
    color: #fff;
}


header .headNav .leftNav {
    flex: 1 auto;
    display: flex;
    flex-flow: row nowrap;
}

header .headNav .leftNav li {
    margin-left: 20px;
}

header .headNav .leftNav li a {
    font-size: 15px;
    color: #fff;
}

header .headNav .leftNav li:nth-child(n+3):hover {
    animation: leaping .2s ease-in-out 1;
}

header .headNav .leftNav li .iconfont {
    margin-right: 7px;
}


/* 右侧 */
header .headNav .rightNav {
    flex: 1 auto;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-flow: row nowrap;
    font-size: 12px;
    cursor: pointer;
}

header .headNav .rightNav li:nth-child(n+2) {
    margin-right: 15px;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    line-height: 20px;
    text-align: center;
    justify-content: center;
}

header .headNav .rightNav li:nth-child(n+2):nth-child(-n+7):hover i {
    animation: leaping .2s ease-in-out 1;
}

header .headNav .rightNav li .avata {
    width: 38px;
    height: 38px;
    margin: 10px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}


/* 按钮 */
header .headNav .rightNav li a button {
    width: 90px;
    height: 34px;
    border-radius: 8px;
    border: none;
    background-color: #fb7299;
    color: #fff;
}

header .headNav .rightNav li a button:hover {
    background-color: #fc8eae;

}

header .headNav form {
    position: relative;
    width: 100%;
    height: 64px;
    line-height: 64px;
    flex: 1 0 20%;
    justify-content: space-around;

}

header .headNav form .input {
    width: 90%;
    height: 40px;
    line-height: 40px;
    outline: none;
    background-color: #ffffffc4;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    margin-top: 12px;
    box-shadow: 0px 0px 2px rgb(249, 247, 247);
}

header .headNav form input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    caret-color: #ccc;
}

header .headNav form i {
    position: absolute;
    right: 15%;
    top: 12px;
    color: #000;
}

/* 弹出头部导航栏 */
header .headNav.fixed {
    position: fixed;
    max-width: 2560px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(204, 204, 204, 0.492);
}

header .headNav.fixed form .input {
    background-color: #f2f3f4;
    border: 1px solid #cfcfcf5f;
}



header .headNav.fixed .leftNav .hidden.iconfont {
    font-size: 25px;
    color: #00aeec;
}

header .headNav.fixed .leftNav li,
header .headNav.fixed .leftNav li a {
    color: #000;
}

header .headNav .leftNav li a i.iconfont#expand {
    display: none;
}

header .headNav.fixed .leftNav li a {
    position: relative
}

header .headNav.fixed .leftNav li:nth-child(2) a {
    display: flex;
    flex-flow: row nowrap;
}

header .headNav.fixed .leftNav li a i.iconfont#expand {
    display: block;
    padding-left: 7px;
}

header .headNav.fixed .leftNav li a i.iconfont#xds {
    display: none;
}

header .headNav.fixed .rightNav li {
    color: #000;
}

/* 头部导航样式结束 

/* 跳跃 */
@keyframes leaping {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0);
    }
}