* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    text-decoration: none;
    font-style: normal;
    list-style: none;
}

html {
    background-color: #f1f2f3
}

body {
    width: 100hw;
    margin: 0 auto;
    background-color: #fff;
}

/* 版心 */
.w {
    width: 95%;
    margin: 0 auto;
}

/* 初始化完成 */
/* header样式 */
header {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: pink;
}

header .logo {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

header .headNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .headNav .leftNav {
    flex: 0 0 40%;
    display: flex;
    flex-flow: row nowrap;
    background-color: red;
}

header .headNav .rightNav {
    flex: 0 0 30%;
    display: flex;
    align-items: end;
    flex-flow: row nowrap;
    background-color: rgba(0, 0, 255, 0.323);
}

header .headNav .rightNav li {
    display: flex;
    flex-flow: column nowrap;
}

header .headNav .rightNav li .avata {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}

/* 头部导航样式结束 */