/* 中间分区导航 */
.centerNav {
    display: flex;
    flex-flow: row nowrap;
    margin: 50px auto;
    height: 80px;
}

.centerNav .leftCenterNav {
    display: flex;
    flex: 0 0 10%;
    flex-flow: row nowrap;
}

.centerNav .leftCenterNav section li {
    background-color: #ccd0d4;
}

.centerNav .leftCenterNav section li a {
    display: flex;
    flex-flow: column nowrap;
}

.centerNav .partition {
    display: flex;
    flex: 0 0 70%;
    flex-flow: column nowrap;
}

.centerNav .partition ul {
    display: flex;
}

.centerNav .partition ul li {
    background-color: #d3d7db;
}

.centerNav .rightCenterNav {
    display: flex;
    flex-flow: column nowrap;
    border-left: 1px #ccc solid;
}

.centerNav .rightCenterNav ul {
    display: flex;
    flex-flow: row nowrap;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}


.content .ready {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

/* 预设加载动画 */
.content .loading {
    position: relative;
    overflow: hidden;
    margin-top: 10px;

}

.content .loading div {
    width: 100%;
    height: 64%;
    margin: 0;
    background-color: #f1f2f3;
    border-radius: 5px;
}

.content .loading #a {
    display: block;
    width: 90%;
    height: 7%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f1f2f3;

}

.content .loading #b {
    display: block;
    width: 66%;
    height: 6%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f1f2f3;
}

.content .loading #c {
    display: block;
    width: 43%;
    height: 6%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f1f2f3;
}

.content .loading::before {
    content: "";
    display: block;
    background: linear-gradient(transparent, white, transparent);
    width: 200%;
    height: 80%;
    transform: rotate(-45deg);
    position: absolute;
    top: 0px;
    left: -300px;
    animation: brighting 1s infinite;
}

@keyframes brighting {
    from {
        left: -300px;
    }

    to {
        left: 300px;
    }
}

/* 视频预加载样式完成 */

/*首页 视频模块 */
.content section {
    width: 18%;
    height: 290px;
    margin-bottom: 15px;
}


.ready .video {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

.ready video {
    width: 100%;
    height: 100%;
    background-color: black;
}

.ready>div::after {
    content: "稍后再看";
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    opacity: 0;
    transition: 0.2s;
}

.ready>div:hover::after {
    opacity: 1;
}

.ready>div::before {
    position: absolute;
    content: "1111";
    padding-left: 10px;
    display: block;
    width: 100%;
    height: 30px;
    bottom: 0px;
    color: white;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.73));
    transition: all 0.1s;
}



.ready>div:hover::before {
    opacity: 0;
}

.ready .videoTitle {
    margin-top: 12px;
    font-size: 20px;
}

.ready .author {
    margin-top: 10px;
    font-size: 18px;
    color: rgb(141, 141, 141);
}