body {
    background-color: #f4f5f7;
}

.w {
    width: 90%;
}

header {
    height: auto;
}

header .headNav {
    background-color: #fff;
    color: black !important;
}

header .headNav ul li a {
    color: black !important;
}

header .headNav form .input {
    background-color: #f2f3f4;
    border: 1px solid rgba(204, 204, 204, 0.505) !important;
}

header .headNav form .input:hover {
    background: #fff;
}

/* 导航栏登出按键重写 */
header .headNav .rightNav li .avata.active {
    transform: scale(1.2) translate(-10px, 0px);
    z-index: 2;
}

header .headNav .rightNav li .hidden {
    transform: translate(2px, 10px) scale(0);
}

header .headNav .rightNav li .hidden.active {
    transform: translate(2px, 20px) scale(0.7);
    z-index: 0;
}

.headImg {
    position: relative;
    height: 200px;
    background-color: pink;
    background: url(http://localhost:5500/二轮考核/image/personHead.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}

.headImg .personalInfo {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
}

.headImg .personalInfo .avata {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.626);
    margin: 10px;
}

/* 更换头像点击 */
.headImg .personalInfo .avata::after {
    display: block;
    content: '更换头像';
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 58px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.388);
    opacity: 0;
    transition: all 0.2s;
}

.headImg .personalInfo .avata:hover::after {
    opacity: 1;
}

.headImg .personalInfo .info .uname {
    margin: 10px 0;
    font-weight: 700;
}

.headImg .personalInfo .info .description {
    font-size: 14px;
}

/* 结束最上方的图片 */

/* 选择栏 */
.menuBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    line-height: 66px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px rgba(204, 204, 204, 0.429) solid;
    background-color: #fff;
}

.menuBar ul,
.hiddenMenu ul {
    display: flex;
    flex-flow: row nowrap;
}

.menuBar ul.option,
.hiddenMenu ul.option {
    flex: 1 40%;
}

.menuBar ul.option li,
.hiddenMenu ul.option li {
    margin-left: 18px;
}

.menuBar ul.option li:hover,
.hiddenMenu ul.option li:hover {
    color: #02b5da;
}

.menuBar ul.option li .iconfont,
.hiddenMenu ul.option li .iconfont {
    font-size: 20px;
    margin-right: 5px;
}

.menuBar ul.option li:nth-of-type(1) .iconfont,
.hiddenMenu ul.option li:nth-of-type(1) .iconfont {
    font-size: 18px;
    color: #00c091;
}

.menuBar ul.option li:nth-of-type(2) .iconfont,
.hiddenMenu ul.option li:nth-of-type(2) .iconfont {
    font-size: 22px;
    color: #fb7299;
}

.menuBar ul.option li:nth-of-type(3) .iconfont,
.hiddenMenu ul.option li:nth-of-type(3) .iconfont {
    color: #02b5da;
}

.menuBar ul.option li:nth-of-type(4) .iconfont,
.hiddenMenu ul.option li:nth-of-type(4) .iconfont {
    color: #23c9ed;
}

.menuBar ul.option li:nth-of-type(5) .iconfont,
.hiddenMenu ul.option li:nth-of-type(5) .iconfont {
    font-size: 22px;
    color: #f3a034;
}

.menuBar ul.option li:nth-of-type(6) .iconfont,
.hiddenMenu ul.option li:nth-of-type(6) .iconfont {
    color: #ff5d47;
}

.menuBar ul.option li:nth-of-type(7) .iconfont,
.hiddenMenu ul.option li:nth-of-type(7) .iconfont {
    font-size: 22px;
    color: #23c9ed;
}

.menuBar .input,
.hiddenMenu .input {
    position: relative;
    flex: 1 10%;
    height: 30px;
    line-height: 20px;
    border: 2px rgba(204, 204, 204, 0.478) solid;
    border-radius: 15px;
    margin-right: 150px;
}

.menuBar .input input,
.hiddenMenu .input input {
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    padding-left: 10px;
}

.menuBar .input input::placeholder,
.hiddenMenu .input input::placeholder {
    color: rgb(174, 174, 174);
}

.menuBar .input i,
.hiddenMenu .input i {
    position: absolute;
    right: 10px;
    top: 3px;
    color: rgb(174, 174, 174);
    font-size: 18px;
}

.menuBar .dataView ul,
.hiddenMenu .dataView ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    flex: 1 35%;
    margin-right: 10px;
}

.menuBar .dataView ul li,
.hiddenMenu .dataView ul li {
    height: 66px;
    line-height: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}

.menuBar .dataView ul li span,
.hiddenMenu .dataView ul li span {
    flex: 0 20px;
    font-size: 15px;
}

.menuBar .dataView ul li span:first-child,
.hiddenMenu .dataView ul li span:first-child {
    color: rgb(117, 117, 117);
}

/* 隐藏选择栏 */
.hiddenMenu {
    position: fixed;
    height: 66px;
    line-height: 66px;
    top: -80px;
    left: 50%;
    min-width: 800px;
    transform: translateX(-50%);
    z-index: 100;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    transition: top 0.5s;
}

.hiddenMenu .name:hover {
    color: #00a1d6;
}

.hiddenMenu ul li {
    display: inline;
}

.hiddenMenu .hiddenAvata {
    display: block;
    height: 24px;
    width: 24px;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    border-radius: 100%;
    margin: 10px;
    margin-left: 20px;
}

/* 左右两栏 */
.content {
    display: flex;
    min-width: 900px;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px rgba(204, 204, 204, 0.429) solid;
}

/* 左侧收藏夹管理 */
.content .edit {
    flex-basis: 20%;
    flex-grow: 0.2;
    margin-right: 20px;
    border-right: 1px rgba(204, 204, 204, 0.646) solid;
}

.content .edit .myCreating {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px rgba(204, 204, 204, 0.646) solid;
}


.content .edit .myCreating .name {
    position: relative;
    margin: 20px;
    color: #a09f9f;
}

.content .edit .myCreating .name i {
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
    user-select: none;
}

.content .edit .myCreating .name i {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.content .edit .myCreating .name i.fold {
    transform: rotate(180deg);
}

.content .edit .myCreating .addList {
    padding-left: 20px;
    cursor: pointer;
}

.content .edit .myCreating .addList i {
    color: #a09f9fac;
    font-size: 20px;
    padding-right: 10px;
}

.content .edit .myCreating .addList i:hover {
    color: #a09f9ffd;

}

.content .edit .myCreating ul li {
    padding-left: 20px;
    transition: all 0.3s;
}

.content .edit .myCreating ul li.active {
    background-color: #00a1d6;
    color: #fff;
}

.content .edit .myCreating ul li.active i {
    color: #fff;
}

.content .edit .myCreating ul li i {
    padding-right: 10px;
    color: #a09f9f;
    font-size: 20px;
    transition: all 0.3s;

}

.content .collections {
    width: 0;
    /* 添加width：0让这个盒子的宽度由flex决定 */
    flex-basis: 80%;
    flex-grow: 0;
    display: flex;
    flex-flow: column nowrap;

}


/* 默认收藏夹 */
.collections .default {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 20px;
    border-bottom: 1px rgba(204, 204, 204, 0.646) solid;
}

.collections .default .box {
    position: relative;
    overflow: hidden;
    width: 19%;
    margin: 0.5%;
    border-radius: 5px;
    aspect-ratio: 16/9;
}

.collections .default .box .video {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.collections .default .box>i.iconfont {
    position: absolute;
    right: 5px;
    bottom: 5px;

    background-color: rgba(0, 0, 0, 0.49);
    color: #f2f3f4;
    text-align: center;
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
}

.collections .default .box .video video {
    height: 100%;
    aspect-ratio: 16/9;
    width: 100%;
    background-color: #2c2c2c;
}

.collections .default .detailInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 10px 20px;
}

.collections .default .detailInfo p {
    font-size: 15px;
}

.collections .default .detailInfo i {
    font-style: normal;
}

.collections .default .detailInfo div p {
    font-size: 12px;
    color: #a09f9f;
}

.collections .default .detailInfo button {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #00a1d6;
    color: #fff;
    transition: all 0.2s ease;
}

.collections .default .detailInfo button:hover {
    background-color: #00a0d678;

}

/* 收藏的内容 */
.collections .collectionList {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.collections .collectionList .collection {
    width: 19%;
    margin: 0.5%;
}

.collections .collectionList .collection .video {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
}

.collections .collectionList .collection .video::after {
    content: attr(time-data);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    border-top-left-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.419);
    transition: all 0.5s;
}

.collections .collectionList .collection .video:hover::after {
    opacity: 0;
}

.collections .collectionList .collection .video video {
    background-color: rgba(0, 0, 0, 0.781);
    height: 100%;
    aspect-ratio: 16/9;
}

.collections .collectionList .collection .video .mask {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px;
    color: aliceblue;
    background-color: rgba(36, 35, 35, 0.57);
    opacity: 0;
    transition: all 0.2s;
}

.collections .collectionList .collection .video .mask i {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}


.collections .collectionList .collection .video:hover .mask {
    opacity: 1;
}

/* 描述文字 */
.collections .collectionList .collection .description {
    position: relative;
    padding: 5px 5px;
}

.collections .collectionList .collection .description .more {
    position: absolute;
    right: 0px;
    bottom: 5px;
    color: rgba(74, 54, 54, 0.549);

}

.collections .collectionList .collection .description p:nth-of-type(1) {
    height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.collections .collectionList .collection .description p:nth-of-type(2) {
    color: rgba(74, 54, 54, 0.549);
    font-size: 15px;
}

/* 头像 */
.avata {
    background-position: center center;
    background-size: cover;
}

.collections .myVideos {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

/* 上传的视频 */
.collections .myVideos .myVideo {
    width: 19%;
    margin: 0.5%;
    background-color: rgba(0, 0, 0, 0.298);
}

.collections .myVideos .myVideo .video {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;
}

.collections .myVideos .myVideo .video video {
    width: 100%;
    height: 100%;
}

.myVideo.content {
    display: none;
}

/* 投稿模态框 */
.inputTitle {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    width: 600px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 10px;
    background-image: url('https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login-v2/img/22_open.4ea5f239.png'), url('https://s1.hdslb.com/bfs/seed/jinkela/short/mini-login-v2/img/33_open.f7d7f655.png');
    background-position: left bottom, right bottom;
    background-size: 20%;
    background-repeat: no-repeat;
    text-align: center;
}

.inputTitle #title {
    font-size: 30px;
    font-weight: 700;
    color: #fb7299;
}

.inputTitle .title,
.inputTitle .describe {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.inputTitle .title input,
.inputTitle .describe input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

.inputTitle .title input {
    outline-color: #00a1d6;
}

.inputTitle .describe input {
    outline-color: #fb7299;

}

.inputTitle .title p,
.inputTitle .describe p {
    margin-bottom: 20px;
    color: #00a1d6;
    font-weight: 700;
    font-size: 18px;
}

.inputTitle .describe p {
    color: #fb7299;

}

.inputTitle button {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fb7299;
    color: #fff;
    margin: 0 auto;
}

.inputTitle button:hover {
    background-color: #fb729977;

}

.inputTitleMask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background-color: rgba(0, 0, 0, 0.301);
}

.inputTitle .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


/* 编辑收藏夹区域 */
.content .edit {
    display: flex;
    flex-flow: column nowrap;
}

.content .edit .addList {
    flex-basis: 40px;
    line-height: 40px;
}

.content .edit ul {
    display: flex;
    flex-flow: column nowrap;
}

.content .edit ul li {
    flex-basis: 40px;
    line-height: 40px;
    cursor: pointer;
}

/* 拖动排序动画 */
@keyframes dragSortingDown {
    form {
        transform: translateY(0);
    }

    to {
        transform: translateY(40px);
    }
}

@keyframes dragSortingUp {
    form {
        transform: translateY(0);
    }

    to {
        transform: translateY(-40px);
    }
}

.dragSortingDown {
    animation: dragSortingDown .05s linear;
    animation-iteration-count: 1;
}

.dragSortingUp {
    animation: dragSortingUp .05s linear;
    animation-iteration-count: 1;
}

/* 中间搜索栏 */
.content .collections .head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    height: 30px;
    line-height: 30px;
    margin: 20px 20px;
}

.content .collections .head div {
    margin-left: 22px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.content .collections .head div:hover {
    color: #02b5da;
}

.content .collections .head div>i:nth-of-type(-n+4) {
    margin-left: 2px;
}

.content .collections .head .iconfont {
    color: #a09f9f;
}

.content .collections .head .input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.content .collections .head .input .search {
    margin-right: 10px;
}

.content .collections .head .input input {
    border: none;
    font-size: 12px;
    height: 100%;
    border-left: 1px solid #ccc;
    outline: none;
    padding-left: 10px;
}

.content .collections .head .input div {
    color: #a09f9f;
    font-size: 12px;
    padding: 5px;
    margin: 0;
}