/* 滚动条美化 */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}




/* 版心 */
body {
    height: auto;
}

.w {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}

/* 初始化完成 */

/* 头像 */
.avata {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    position: fixed;
    width: 100%;
    max-width: 2560px;
    z-index: 200;
}

/* 导航栏登出按键重写 */
header .headNav .rightNav li .avata.active {
    transform: scale(1.2) translate(-10px, 0px);
    z-index: 2;
}

header .headNav .rightNav li .hidden {
    transform: translate(2px, 10px) scale(0);
}

header .headNav .rightNav li .hidden.active {
    transform: translate(2px, 20px) scale(0.7);
    z-index: 0;
}


/* logout */
header .headNav .rightNav li .avata.logout::after {
    content: "登录";
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    line-height: 38px;
    color: #fff;
    border: 1px #00aeec solid;
    background-color: #00aeec;
}

/* 内容部分 */
.content {
    padding-top: 90px;
}

/* left */
.content .left {
    float: left;
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
}

.content .left .title {
    font-size: 26px;
    margin: 5px 0;
}

.content .left .info {
    font-size: 20px;
    margin-bottom: 40px;
    color: #9499a0;
}

.content .left .info span {
    padding-right: 10px;
    font-size: 15px;
}

.content .left .info span p {
    display: inline;
}

.content .left .info span i {
    padding-right: 5px;
}

.content .left .info span:nth-last-child(1) i {
    color: #fd676f;
    font-weight: 700;
}

.content .left .video {
    width: 99.7%;
    aspect-ratio: 16/9;
    box-shadow: 0px -1px 10px rgb(204, 204, 204);

}

.content .left .video video {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: black
}

/* 发送弹幕栏 */
.content .left .sendBarrage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    line-height: 46px;
    margin-bottom: 10px;
    margin-right: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(204, 204, 204, 0.609);
}

.content .left .sendBarrage .condition {
    margin: 0 20px;
    height: 46px;
    font-size: 12px;
    margin-right: 20px;
    color: #61666dc7;
}

.content .left .sendBarrage #barrageToggle .iconfont,
.content .left .sendBarrage #barrageSetting .iconfont {
    color: #686868d3;
    cursor: pointer;
}

.content .left .sendBarrage #barrageToggle .iconfont.active {
    display: none;
}

.content .left .sendBarrage #barrageSetting {
    margin: 0 10px;
    cursor: pointer;
}

.content .left .sendBarrage .barInput {
    position: relative;
    flex: 1 55%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;

    overflow: hidden;
    border-radius: 8px;
}

.content .left .sendBarrage .barInput #barrage {
    flex: 1 auto;
    padding-left: 35px;
    outline: none;
    border: none;
    background-color: #f1f2f3;
}

.content .left .sendBarrage .barInput #barrage.logout::placeholder {
    color: transparent;
}

.content .left .sendBarrage .barInput .hidden {
    display: none;
}

.content .left .sendBarrage .barInput.logout .hidden {
    display: block;
    position: absolute;
    left: 50px;
    color: rgb(82, 82, 82);
}

.content .left .sendBarrage .barInput.logout .hidden i {
    font-style: normal;
    color: #00aeec;
    padding: 0 4px;
    cursor: pointer;
}

.content .left .sendBarrage .barInput #barrageSend {
    width: 70px;
    border: none;
    color: #fff;
    background-color: #00aeec;
    font-size: 12px;
    cursor: pointer;
}

.content .left .sendBarrage .barInput #barrageSend.logout {
    background-color: rgba(204, 204, 204, 0.534);
    color: #6b6f76;
}

/* 前后图标 */
.content .left .sendBarrage .barInput>.iconfont {
    position: absolute;
    left: 10px;
    color: #6b6f76;
}

.content .left .sendBarrage .barInput .polite {
    position: absolute;
    right: 85px;
    color: rgb(182, 182, 182);
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.content .left .sendBarrage .barInput .polite .iconfont {
    transform: rotateX(45deg)
}


/* 三连模块 */
.content .left .subcribe {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
}

.content .left .subcribe .subLeft {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.content .left .subcribe .subLeft button {
    color: #61666d;
    position: relative;
    z-index: 20;
}

.content .left .subcribe .subLeft button:nth-of-type(1) svg {
    height: 26px;
    width: 26px;
}

.content .left .subcribe .subLeft button {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 60px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.content .left .subcribe .subLeft button:hover {
    color: #00aeec;
}

.content .left .subcribe .subLeft button.done {
    color: #00aeec;
}

.content .left .subcribe .subRight {
    float: right;
    display: flex;
    flex-flow: row nowrap;
}

.content .left .subcribe .subRight div {
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.25s;

}

.content .left .subcribe .subRight div:hover .iconfont,
.content .left .subcribe .subRight div:hover {
    color: #00aeec !important;
}

.content .left .subcribe .subRight div .iconfont {
    font-size: 22px;
    font-weight: 700;
    color: #999999;
    padding-right: 5px;
}

.content .left .subcribe .subRight button {
    width: 100px;
    margin-left: 20px;
}

/* 三连成功爆炸射线 */
.content .left .subcribe .subLeft button .shine {
    position: absolute;
    width: 20px;
    height: 20px;
    /* background-color: #fff; */
    top: 2px;
    left: 3px;
}

.content .left .subcribe .subLeft button .shine span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 2px;
    transform: rotate(calc(var(--i) *22.5deg)) translateY(0px);
    background-color: #00aeec;
    opacity: 0;
    /* animation: .5s oddBoom linear infinite; */
}

.content .left .subcribe .subLeft button.boom:nth-of-type(1) svg {
    animation: expending1 .5s ease 1;
}

.content .left .subcribe .subLeft button.boom:nth-of-type(n+2) svg {
    animation: expending .5s ease 1;
}

.content .left .subcribe .subLeft button.boom .shine span:nth-child(even) {
    animation: .5s evenBoom linear 1;
}

.content .left .subcribe .subLeft button.boom .shine span:nth-child(odd) {
    animation: .5s oddBoom linear 1;
}

/* 一个变大的小圆*/
.content .left .subcribe .subLeft button.boom .shine::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -40%);
    height: 30px;
    width: 30px;
    background-color: #00adec27;
    border-radius: 50%;
    opacity: 0;
    animation: 0.5s decoration linear 1;
}

@keyframes expending1 {
    0% {
        height: 26px;
        width: 26px;
        transform: translateX(0px);
    }

    50% {
        height: 35px;
        width: 35px;
        transform: translateX(-3px);

    }

    100% {
        height: 26px;
        width: 26px;
        transform: translateX(0px);

    }
}

@keyframes expending {
    0% {
        height: 28px;
        width: 28px;
        transform: translateX(0px);
    }

    50% {
        height: 35px;
        width: 35px;
        transform: translateX(-3px);
    }

    100% {
        height: 28px;
        width: 28px;
        transform: translateX(0px);
    }
}

@keyframes decoration {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%) scale(1)
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -40%) scale(1.5)
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -40%) scale(2)
    }
}

/* 爆炸射线动画 */
@keyframes oddBoom {
    0% {
        opacity: 0;
        height: 5px;
        transform: rotate(calc(var(--i) *22.5deg)) translateY(0px);
    }

    50% {
        opacity: 1;
        height: 8px;
        transform: rotate(calc(var(--i) *22.5deg)) translateY(10px);
    }

    90% {
        transform: rotate(calc(var(--i) *22.5deg)) translateY(25px);
        opacity: 1;

    }

    100% {
        height: 3px;
        transform: rotate(calc(var(--i) *22.5deg)) translateY(25px);
        opacity: 0;
    }

}

@keyframes evenBoom {
    0% {
        opacity: 0;
        height: 5px;
        transform: rotate(calc(var(--i) *22.5deg)) translateY(0px);
    }

    50% {
        opacity: 1;
        height: 5px;
        transform: rotate(calc(var(--i) *22.5deg)) translateY(10px);
    }

    90% {
        height: 8px;
        transform: rotate(calc(var(--i) *22.5deg)) translateY(25px);
        opacity: 1;

    }

    100% {
        height: 3px;
        transform: rotate(calc(var(--i) *22.5deg)) translateY(25px);
        opacity: 0;
    }

}


/* 三连进度条 */
.content .left .subcribe .subLeft button i {
    position: absolute;
    left: -5.5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #00aeec;
    transform: rotate(45deg);
    clip-path: polygon(0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            0% 0%,
            50% 50%);
}

.content .left .subcribe .subLeft button.subcribe.loading svg {
    animation: shake 0.2s infinite;
}

.content .left .subcribe .subLeft button.coins.loading i {
    animation: loading 2.5s cubic-bezier(0.25, 0.46, 0.75, 0.55) 1;
}

.content .left .subcribe .subLeft button.favorite.loading i {
    animation: loading 2.5s cubic-bezier(0.25, 0.46, 0.75, 0.55) 1;

}




/* 三连动画 */
@keyframes shake {
    0% {
        transform: translate(5%, 5%);
    }

    25% {
        transform: translate(0%, 5%);
    }

    50% {
        transform: translate(5%, 0%);
    }

    75% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(5%, 5%);
    }
}

@keyframes loading {
    0% {
        clip-path: polygon(0% 0%,
                0% 0%,
                0% 0%,
                0% 0%,
                0% 0%,
                50% 50%);
    }

    25% {
        clip-path: polygon(0% 0%,
                100% 0%,
                100% 0%,
                100% 0%,
                100% 0%,
                50% 50%);
    }

    50% {
        clip-path: polygon(0% 0%,
                100% 0%,
                100% 100%,
                100% 100%,
                100% 100%,
                50% 50%);
    }

    75% {
        clip-path: polygon(0% 0%,
                100% 0%,
                100% 100%,
                0% 100%,
                0% 100%,
                50% 50%);
    }

    98% {
        opacity: 1;
    }

    100% {
        clip-path: polygon(0% 0%,
                100% 0%,
                100% 100%,
                0% 100%,
                0% 0%,
                50% 50%);
        opacity: 0;

    }
}


/* 简介 */
.content .left .details {
    margin-top: 20px;
}



/* right */
.content .right {
    float: right;
    display: flex;
    flex-flow: column nowrap;
    width: 28%;
}

/* up主部分 */
.content .right .upInfo {
    height: 100px;
}

.content .right .upInfo .infoLeft {
    display: flex;
    align-items: center;
    float: left;
    width: 20%;
    height: 100px;
    line-height: 100px;

}

.content .right .upInfo .infoLeft .avata {
    width: 80%;
    aspect-ratio: 1;
    border-radius: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.content .right .upInfo .infoRight {
    float: right;
    display: flex;
    flex-flow: column nowrap;
    width: 79%;
}

.content .right .upInfo .infoRight .name {
    font-size: 18px;
    color: #ff6699;
}

.content .right .upInfo .infoRight .description {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ccc;
}

.content .right .upInfo .infoRight .btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.content .right .upInfo .infoRight .btn #charge {
    width: 45%;
    height: 37px;
    border: 2px solid #ff6699;
    color: #ff6699;
    border-radius: 8px;
    transition: all 0.5s;
    font-weight: 400;
    background-color: #fff;
}

.content .right .upInfo .infoRight .btn #charge:hover {
    background-color: #ffecf1;
    transition: all 0.5s;

}

.content .right .upInfo .infoRight .btn #follow {
    width: 53%;
    height: 37px;
    color: #fff;
    background-color: #00aeec;
    border-radius: 8px;
    border: none;
    transition: all 0.5s;
}

.content .right .upInfo .infoRight .btn #follow:hover {
    background-color: #00adecb6;
    transition: all 0.5s;
}

/* 评论模块 */
/* 评论模块 */
.comments .head {
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    line-height: 100px;
}

.comments .head h1 {
    font-size: 20px;
}

.comments .head p {
    margin: 0 50px 0 10px;
    color: #9499a0;
}

.comments .head .sorting button {
    padding: 0 10px;
    border: none;
    background-color: #fff;
    color: #9499a0;
}

.comments .head .sorting button:hover {
    color: #00aeec;
}

.comments .head .sorting button:nth-child(1) {
    border-right: 1px solid #61666d;
    padding-right: 15px;
}

.comments .sendComments {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
}

.content .left .comments .sendComments {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 70px;
}


.content .left .comments .sendComments .avata {
    position: absolute;
    left: -70px;
    background-color: #ccc;
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 10px;
    border-radius: 100%;
}

.content .left .comments .sendComments.logout .avata::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 1px solid #e5e9ef;
    background-color: #e5e9ef;
}

.comments .sendComments #comments {
    position: relative;
    flex: 1 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #f1f2f3;
    padding-left: 10px;
    outline: none;
}


.comments .sendComments #comments:hover {
    background-color: #fff;
    border: 1px #ccc solid;
}

.comments .sendComments #comments:focus {
    background-color: #fff;
    border: 1px #ccc solid;
}

.comments .sendComments .commentSend {
    flex: 0 80px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 10px;
    color: #fff;
    background-color: #7fd6f5;
}

.comments .sendComments .commentSend:hover {
    background-color: #00aeec;
}

.comments .sendComments .hidden {
    display: none;
}

/* logout */
.content .left .comments .sendComments.logout input::placeholder {
    color: transparent;
}

.content .left .comments .sendComments.logout button {
    background-color: #f1f2f3;
    color: #9499a0;
}

.comments .sendComments.logout .hidden {
    display: block;
    position: absolute;
    top: 13px;
    left: 40%;
    color: #9499a0;
}

.content .left .comments .sendComments.logout .hidden button {
    background-color: #00aeec;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    margin: 0 5px;
}

/* comment 单条评论 */
.content .left .comments .commentsList .comment {
    position: relative;
    margin-left: 70px;
    margin-top: 30px;
}

.comment .detailInfo i.iconfont.done {
    color: #00aeec !important;
    font-weight: 700;
}

.content .left .comments .commentsList>.comment {
    border-bottom: 1px solid rgba(204, 204, 204, 0.504);
}

.content .left .comments .commentsList .comment .avata {
    position: absolute;
    left: -70px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin: 10px;
    margin-top: 0;
    border-radius: 100%;
}

/* 回复的头像会小一点 */
.content .left .comments .commentsList .comment .comment .avata {
    height: 40px;
    width: 40px;
    margin: 15px;

}

.content .left .comments .commentsList .comment .name {
    color: #fb7c9d;
    font-size: 19px;
    font-weight: 500;
    margin: 0px 0 20px 0;
}

.content .left .comments .commentsList .comment .detailInfo i {
    font-style: normal;
    color: #ccc;
}

.content .left .comments .commentsList .comment .detailInfo .iconfont {
    margin-left: 20px;
    cursor: pointer;
}

.content .left .comments .commentsList .comment .detailInfo .iconfont:hover {
    color: #00aeec;
}

.content .left .comments .commentsList .comment .detailInfo .iconfont.dis {
    font-size: 14px;
}

.content .left .comments .commentsList .comment .detailInfo button {
    border: none;
    margin: 10px;
    background-color: #fff;
    color: #9499a0;
    cursor: pointer;
}

.content .left .comments .commentsList .comment .detailInfo button:hover {
    color: #00aeec;
}

/* reply */
.content .left .comments .commentsList .comment .reComment {
    position: relative;
    margin-left: 70px;
    margin-top: 30px;

}

.content .left .comments .commentsList .comment .reComment .avata {
    position: absolute;
    left: -70px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin: 10px;
    border-radius: 100%;
}

.content .left .comments .commentsList .comment .reComment .name {
    color: #fb7c9d;
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.content .left .comments .commentsList .comment .reComment .detailInfo {
    font-style: normal;
    color: #ccc;
}

.content .left .comments .commentsList .comment .reComment .detailInfo .sub {
    margin: 0 20px;
}

.content .left .comments .commentsList .comment .reComment .detailInfo button {
    margin: 20px;
}

/* 回复评论模块 */
.content .left .comments .sendReply {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.content .left .comments .sendReply .avata {
    position: absolute;
    left: -70px;
    background-color: #ccc;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100%;
}

.content .left .comments .sendReply input {
    flex: 1 auto;
    width: 80%;
    height: 50px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f1f2f3;
    padding-left: 10px;
    outline: none;
}

.content .left .comments .sendReply .commentSend {
    height: 50px;
    width: 80px;
    margin: 10px 0 0 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #7fd6f5;
}

/* 弹幕列表 */
.content .right .barrageList {
    height: 50px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin-top: 26px;
    background-color: #fff;
}

.content .right .barrageList.active {
    height: 500px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.content .right .barrageList .listHead .iconfont:nth-child(2) {
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
}

.content .right .barrageList.active .listHead .iconfont:nth-child(2) {
    transform: rotate(180deg);
    transition: all 0.2s;
}

.content .right .barrageList ul {
    overflow: auto;
}

.content .right .barrageList ul li {
    display: flex;
    flex-flow: row nowrap;
    font-size: 13px;
}

.content .right .barrageList .listHead {
    position: relative;
    background-color: #f1f2f3;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding-left: 10px;
}

.content .right .barrageList .listHead .iconfont:nth-child(1) {
    padding-left: 5px;
}

.content .right .barrageList .listHead .iconfont:nth-child(2) {
    position: absolute;
    right: 10px;
}

.content .right .barrageList ul li {
    padding-left: 10px;
}

.content .right .barrageList ul li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .right .barrageList ul li p:nth-of-type(1) {
    width: 20%;
}

.content .right .barrageList ul li p:nth-of-type(2) {
    width: 50%;
}

.content .right .barrageList ul li p:nth-of-type(3) {
    width: 30%;
}

.content .right .barrageList ul li {
    height: 28px;
    line-height: 28px;

}

.content .right .barrageList .listFoot {
    background-color: #f1f2f3;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
}


/* 自动连播按钮 */
.content .right .videoList .listHead .top label {
    font-size: 14px;
    color: #9499a0;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
}

.content .right .videoList .listHead .top label i {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 30px;
    margin: 0px 0 -4px 10px;
    border-radius: 10px;
    background-color: #00aeec;
}

.content .right .videoList .listHead .top label.off i {
    background-color: #9499a0;
}

.content .right .videoList .listHead .top label i::after {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    right: 2px;
    top: 1px;
    transition: all 0.2s;
}

.content .right .videoList .listHead .top label.off i::after {
    content: "";
    right: 12px;
}

.content .right .videoList .listHead .top input[type="checkbox"] {
    visibility: hidden;
}

/* 播放列表 */
.content .right .videoList {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #f1f2f3;
    border-radius: 8px;
    height: 260px;
}

.content .right .videoList ul {
    height: 150px;
    overflow: auto;
    margin-top: 20px;
}

.content .right .videoList .listHead {
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-between;
    /* height: 69px; */
    width: 100%;
}

.content .right .videoList .listHead .top {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 15px;
}

.content .right .videoList .listHead .bottom {
    flex: 1 auto;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 0 15px;
    color: #999999;
    border-bottom: 1px #ccc solid;
    margin: 0 15px 10px;
}

.content .right .videoList .listHead .bottom button {
    background-color: transparent;
    border: 1px solid #00aeec;
    border-radius: 3px;
    padding: 2px 5px;
    color: #00aeec;
    cursor: pointer;
}

.content .right .videoList .listedVideo {
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .right .videoList .playingVideo {
    color: #00aeec;
}

/* 视频水印 */
.content .left .video .watermark {
    position: absolute;
    top: 15px;
    left: 10px;
    color: rgba(255, 255, 255, 0.409);
}

.content .left .video .watermark.short {
    left: 35%;
}

.content .left .video .watermark .up {
    font-style: normal;
}

.content .left .video .watermark .iconfont {
    font-size: 30px;
    margin-left: 10px;
}

/* 视频控件 */

/* 清除原生控件 */
video::-webkit-media-controls {
    display: none !important;
}

.content .left .video {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.content .left .video .control {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}




.content .left .video .control #follow {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.693);
    background-color: rgba(0, 0, 0, 0.276);
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
}

.content .left .video .control #follow .avata {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    margin: 0 4px;
}

.content .left .video .control #report {
    position: absolute;
    top: 20px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.696);
}




.content .left .video .control #worktable {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    color: rgba(255, 255, 255, 0.696);

}

/* 未hover进度条 */
.content .left .video .progressBar1 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.444);
    transition: all 0.5s;
}

.content .left .video:hover .progressBar1 {
    opacity: 0;
}

.content .left .video .control #progressBar {
    position: absolute;
    top: -2px;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.471);
}

.content .left .video .progressBar1 div {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #00aeec;
}

.content .left .video .control #progressBar div {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #00aeec;
}


.content .left .video .control .left {
    flex: 0 0 30%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    justify-content: left;
}

.content .left .video .control .left div {
    margin-left: 20px;
    cursor: pointer;
}

.content .left .video .control .left #timer {
    vertical-align: middle;
    text-align: center;
    height: 55px;
    line-height: 19px;
    cursor: text;
    user-select: none;
}

.content .left .video .control .right {
    flex: 0 0 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: right;
    user-select: none;

}

.content .left .video .control .right div:nth-of-type(n+2) {
    transition: 0.2s all ease;
}

.content .left .video .control .right div:nth-of-type(n+2):hover {
    transform: scale(1.1);
}

.content .left .video .control .right div i {
    height: 20px;
    width: 20px;
}

.content .left .video .control .right div {
    width: 36px;
    height: 22px;
    margin-right: 10px;
    font-weight: 500;
    cursor: pointer;
}

.content .left .video .control .right #clarity {
    width: 90px;
}

.content .left .video .control .right #speed {
    position: relative;
    width: 40px;
}

/* 控制声音 */
.content .left .video .control .right #volume {
    position: relative;
    text-align: center;
    font-size: 12px;
}


.content .left .video .control .right #volume .volumeHidden {
    display: none;
    position: absolute;
    width: 36px;
    height: 150px;
    bottom: 0px;
    margin: 0;
}


.content .left .video .control .right #volume .volumeHidden .volumeControl {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.685);
    width: 36px;
    height: 110px;
    padding-top: 5px;
}

.content .left .video .control .right #volume .volumeHidden .volumeControl .volumeBar {
    position: absolute;
    width: 2px;
    height: 70px;
    background-color: #fff;
    left: 17px;
    bottom: 10px;
}

.content .left .video .control .right #volume .volumeHidden .volumeControl .volumeBar:hover {
    transform: scale(1);
}

.content .left .video .control .right #volume .volumeHidden .volumeControl .volumeCurrent {
    position: absolute;
    width: 2px;
    height: 70px;
    background-color: #00aeec;
    left: 17px;
    bottom: 10px;
}

.content .left .video .control .right #volume .volumeHidden .volumeControl .number {
    user-select: none;
}

.content .left .video .control .right #volume:hover .volumeHidden .volumeControl .volumeCurrent {
    transform: scale(1);
}

/* 补丁? */
.content .left .video .control .right #fixing {
    position: absolute;
    right: 230px;
    width: 30px;
    height: 15px;
    background-color: transparent
}

/* 控制倍速 */
.content .left .video .control .right #speed .speedHidden {
    display: none;
    position: absolute;
    bottom: 0;
    height: 270px;
    width: 70px;
    left: -20px;
    margin: 0;
}

.content .left .video .control .right #speed .speedHidden .speedControl {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.611);
    height: auto;
    width: 70px;
}

.content .left .video .control .right #speed .speedHidden .speedControl ul li {
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.content .left .video .control .right #speed .speedHidden .speedControl ul li.active {
    color: #00aeec;
}

.content .left .video .control .right #speed .speedHidden .speedControl ul li:hover {
    background-color: rgba(239, 238, 238, 0.172);

}

/* 小电视图标 */
.content .left .video .play {
    position: absolute;
    right: 30px;
    bottom: 60px;
    color: rgba(255, 255, 255, 0.693);
    transition: all 0.5s;
}

.content .left .video .play i {
    font-size: 80px;
}


/* 弹幕效果 */
.content .left .video .runningBarrage {
    position: absolute;
    width: 500px;
    top: 0;
    right: -500px;
    color: rgba(255, 255, 255, 0.545);
    opacity: 0.8;
}

.content .left .video .runningBarrage.close {
    display: none;
}

.content .left .video .runningBarrage p {
    position: absolute;
    padding: 5px 0.5rem;
    animation-name: barrageMoving;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-play-state: paused;
}

.content .left .video .runningBarrage p.special {
    background-color: rgba(233, 185, 220, 0.589);
    border-radius: 5px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.753);
}

@keyframes barrageMoving {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-3000px);
    }
}

@-webkit-keyframes barrageMoving {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-3000px);
        display: none;
    }
}


/* 更多视频 */
.content .right .more {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.content .right .more section {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.content .right .more section .video {
    position: relative;
    aspect-ratio: 16/9;
    flex: 0 40%;
    background-color: #ccc;
}

.content .right .more section .video::after {
    content: "01:23";
    color: #fff;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0 3px;
    background-color: rgba(0, 0, 0, 0.209);
    transition: all 0.2s;
    opacity: 1;
}

.content .right .more section .video:hover:after {
    opacity: 0;
}


.content .right .more section .videoInfo {
    flex: 0 58%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.content .right .more section .videoInfo .title {
    font-size: 14px;
    height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content .right .more section .videoInfo .uname,
.content .right .more section .videoInfo .detail {
    flex: 0 20%;
    font-size: 12px;
    padding: 2px 0;
    color: #9499a0;
}

.comment span {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
}